#navLogo{
    width: 75px;
    height: 60px;
    margin-right: 10px;
}
.hero{
    background: rgb(31,41,55);
    background: linear-gradient(180deg, rgba(31,41,55,1) 0%, rgba(255,255,255,1) 100%);
    border-top: 1px solid rgb(26, 35, 46);
}
/* exercise list CSS */
#exercisesPage{
    margin-bottom: 100px;
}
#easy{
    background-color: lightgreen;
    padding: 2px 5px;
    border-radius: 30%;
}
#medium{
    background-color: yellow;
    padding: 2px 5px;
    border-radius: 30%;
}
#hard{
    background-color: lightcoral;
    padding: 2px 5px;
    border-radius: 30%;
}
/* exercise/[id] CSS */
#results{
    margin-bottom: 100px;
}
.loggedResults{
    color: rgba(31,41,55,1);
}

/* Profile CSS */
/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

 .react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
  }
  
  .react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
  }
  
  .react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }
  
  /*
   * Default color scale
   */
  
  .react-calendar-heatmap .color-empty {
    fill: #eeeeee;
  }
  
  .react-calendar-heatmap .color-filled {
    fill: #8cc665;
  }

.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }